p{font-size:17px;
color:whitesmoke;}

body {
  background-color:rgb(27, 30, 39);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-action: none;
  -ms-touch-action: none;
  touch-action: manipulation;
}

.div_canvas{
    width: 352px;
    margin:0px;
    padding:15px;
    border:10px;
    background: grey;
    display:inline-block;
    overflow:hidden;
}

.canvas_wrapper{
    width: 400px; 
    margin: 0 auto;  
    text-align: center;
    align-content: center; 
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

.relative {
    position: relative;
    width:352px;
}
.absolute {
    position: absolute;
    left:0px;
    top:0px;
}